.inputContainer {
  max-width: 600px;
  margin: 60px 60px;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
}

.insertTransaction {
  display: flex;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 900;
}

.inputField-row {
  margin-bottom: 20px;
}

.inputField-row input {
  width: 80%;
  border-radius: 8px;
  height: 40px;
}

.withdraw-deposit {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.depositBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 20px;
}

.withdrawBtn {
  background-color: #f44336;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 20px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    box-shadow: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; 
}